{{=<% %>=}}
import 'package:fake_it/src/base/base.dart';

const words = DataSource(
  locale: <%locale%>,
  dataKey: DataKeys.words,
  values: [],
);

const sentences = DataSource(
  locale: <%locale%>,
  dataKey: DataKeys.sentences,
  values: [],
);
