{{=<% %>=}}
import 'package:fake_it/src/base/base.dart';

const full_names = DataSource(
  dataKey: DataKeys.full_names,
  locale: <%locale%>,
  formats: [
    Format('{{${DataKeys.first_names_female}}} {{${DataKeys.last_names}}}'),
    Format('{{${DataKeys.first_names_male}}} {{${DataKeys.last_names}}}'),
  ],
  values: [],
);

const first_names = DataSource(
  dataKey: DataKeys.first_names,
  locale: <%locale%>,
  formats: [
    Format('{{${DataKeys.first_names_female}}}'),
    Format('{{${DataKeys.first_names_male}}}'),
  ],
  values: [],
);

const first_names_female = DataSource(
  dataKey: DataKeys.first_names_female,
  locale: <%locale%>,
  values: [],
);

const first_names_male = DataSource(
  dataKey: DataKeys.first_names_male,
  locale: <%locale%>,
  values: [],
);

const last_names = DataSource(
  dataKey: DataKeys.last_names,
  locale: <%locale%>,
  formats: [],
  values: [],
);
