{{=<% %>=}}
import 'package:fake_it/src/base/data_source.dart';
import 'package:fake_it/src/base/numbers.dart';
import 'package:fake_it/src/base/resources.dart';
import 'package:fake_it/src/base/locale.dart';
import 'package:fake_it/src/base/provider.dart';

class FakeCollection {
  FakeCollection({
    required FakeItLocale locale,
    required List<DataSource> dataSources,
  })  :      number = Numbers(),
  <%assignings%>
        
        {
    for (var dataSource in dataSources) {
      registerDataSource(dataSource.copyWith(locale: locale));
    }
  }

  final Numbers number;
  <%#fields%>
  <%&.%>
  <%/fields%>
}
