{{=<% %>=}}
import 'package:faker_x/src/base/utility_resources/boolean.dart';
import 'package:faker_x/src/base/utility_resources/number.dart';
import 'package:faker_x/src/base/resources.dart';
import 'package:faker_x/src/base/locale.dart';
import 'package:faker_x/src/base/utility_resources/time.dart';

class FakeCollection {
  final FakerXLocale locale;

  FakeCollection({required this.locale }):
     number = Number(),
      time = Time(),
      boolean = Boolean(),
  <%assignings%>;

  final Number number;
  final Time time;
  final Boolean boolean;
  <%#fields%>
  <%&.%>
  <%/fields%>
}
